
</br>
<table>
  <thead>
    <tr>
      <th>DateTest </th>
      <th>Calories Consumed</th>
      <th>Calories Burned by Excercise</th>
      <th>Weight</th>
      <th> Created at </th>
    </tr>
  </thead>
  <tbody>
<% @userdailydata.each do |data| %>
<tr>
<td> <%= data.date %> </td>
<td> <%= data.calories_consumed %> </td>
<td> <%= data.calories_exercised %> </td>
<td> <%= data.weight %> </td>
<td> <%= data.created_at %> </td>
</tr> 
<% end %>
</tbody>
</table>

