<p id="notice"><%= notice %></p>

<p>
  <strong>Start weight:</strong>
  <%= @profile.start_weight %>
</p>

<p>
  <strong>Goal weight:</strong>
  <%= @profile.goal_weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>


<p>
  <strong>BMI:</strong>
  <%= (@profile.start_weight*703 / (@profile.height)**2).round(2) %>
</p>

<p>
  <strong>Start BMR:</strong>
<%= @profile.bmr %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %>
<!--<%= link_to 'Back', profiles_path %> -->
